.post {
   display: flex;
    margin: 30px;
    align-items: center;
}

.avatar img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.text {
    margin-left: 20px;
    font-family: "Century Gothic";
    font-weight: lighter;
    color: sienna;
}