header {
    background-color: darkslateblue;
    grid-area: header;
    display: flex;
}

.logo {

}

.logo img {
    height: 150px;
    padding-top: 25px;
    padding-left: 50px;
}

.title {
    color: whitesmoke;
    align-items: center;
    padding-left: 100px;
}