header {
    background-color: darkslateblue;
    grid-area: header;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    border-radius: 10px;
}

.logo {

}

.logo img {
    height: 150px;
    padding-top: 25px;
    padding-left: 50px;
}

.title {
    color: whitesmoke;
    align-items: center;
    padding-left: 100px;
}

.login {
    flex-grow: 1;
}

.login p {
    float: right;
    margin: 50px 20px 0 0;
}