.main {
    display: flex;

    .avatar {
        margin: 20px;
        display: flex;
        flex-direction: column-reverse;

        img {
            width: 150px;
            height: 150px;
        }

        input {
            padding-top: 20px;
        }
    }

    .description {
        margin: 20px 0 0 20px;
        font-weight: bolder;
        font-family: 'Roboto Mono', monospace;
        border: none;
        border-radius: 30px;
        background-color: var(--desc-bg-color);
        padding:20px;

        p {
            margin:0;
        ;
            span {
                font-family: fantasy;
                color: var(--about-color);
                font-weight: bolder;

            }
        }


    }

}
