.App {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'header header header'
     'nav content sidebar';
  grid-template-rows:   150px 1fr;
  grid-template-columns: 200px 1fr 200px;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;

  &.dark {
    --main-bg-color: #0B0C10;
    --content-bg-color: #E6E6FA;
    --desc-bg-color: #F5FFFA;
    --btn-bg-color:grey;
    --about-color:#000080;
    --hover-color:powderblue;
  }

  &.light {
    --main-bg-color:#C5C6C7;
    --content-bg-color: #FAF0E6;
    --desc-bg-color: #F5FFFA;
    --btn-bg-color:#0B0C10;
    --about-color:#000080;
    --hover-color:#7FFFD4;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: var(--main-bg-color);
    border-radius: 10px;
  }
}

