.App {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'header header header'
     'nav content sidebar';
  grid-template-rows:   150px 1fr;
  grid-template-columns: 200px 1fr 200px;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.App.dark {
  --main-bg-color: darkslateblue;
}

.App.light {
  --main-bg-color: grey;
}

.sidebar {
  grid-area: sidebar;
  background-color: darkslateblue;
  border-radius: 10px;
}